*{
    padding:0;
    margin:0;
    text-decoration: none;
    font-family: 'Poppins';
}
body{
    background: linear-gradient(to right bottom, yellow, lightgreen,  turquoise, yellow);
}
div.container, div.form{
    min-height: 100vh;
}
div.logo-c {
    display: flex;
    justify-content: space-between;
    padding: 20px 20px 20px 20px;
}

input {
    width: 300px;
    border: 2px solid steelblue;
    border-radius: 4px;
    height: 30px;
    padding-left: 20px;
    font-size: 20px;
}
div.info {
    display: flex;
    justify-content: center;
    align-items: center;
}
.info h1{
    font-size: 40px;
}
div.info img{
    border: 2px solid lightskyblue;
    margin-left: 20px;
}

div.note {
    text-align:center;
    padding-top : 20px;
    margin-bottom: 20px;
    font-size: larger;
    font-weight: 200;
}

i.fas.fa-hand-point-down{
    color: white;
    font-size: 30px;
}
section#audio{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 300px;
    overflow-y: auto;
}
section#audio a {
    font-size: 20px;
    color: white;
}
section#audio a audio{
    margin-top: 10px;
}

section#suggestions{
    padding-left: 70px;
    padding-bottom: 20px;
}

section#suggestions b{
    font-size: 30px;
}
section#suggestions p{
    font-size: 20px;
    margin-top:10px;
    
}

footer{
    height : 200px;
    background: black;
}

div.links{
    border-top: 2px solid navy;
    padding-top: 20px;
    padding-left: 70px;
    color: white;
    
}


/*  FORM STYLES */

div.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
div.input {
    min-width: 70vw;
    padding: 10px 20px 10px 20px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.input input{
    width: 70%;
    height: 30px;
    padding-left: 20px;

}
label , #btn {
    height: 30px;
    width: 30vw;
    background: slateblue;
    text-align: center;
    border-radius: 7px;
}
input[type="file"]{
    display: none;
}